.contact {
    color: var(--text-color);
    margin-top: 4rem;
}
form {
    display: flex;
    flex-direction: column;
}
.contact h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.first-two {
    display: flex;
    height: 60px;
    gap: 1em;
    margin-bottom: 0.5rem
}
.last-one {
  display: flex;
  flex-direction: column;
}
.one {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input { 
    font-family: 'kanit';
    font-size: 1.1rem;
    color: var(--text-color);
    padding-left: 1rem;
    padding-right: 0.3rem;
    border: 2px solid var(--text-color);
    outline: none;
    height: 100%;
    background-color: var(--primary);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
textarea {
    font-family: 'kanit';   
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    outline: none;
    height: 100%;
    background-color: var(--primary);
}
label {
    font-size: 0.9rem;
}
.submit-btn {
  appearance: button;
  background-color: var(--third);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid var(--third);
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 2rem;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit-btn:focus:not(:focus-visible),
.submit-btn:focus {
  outline: 0;
}

.submit-btn:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.submit-btn:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.submit-btn:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.submit-btn:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.submit-btn:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}
.succes {
  text-align: center;
  margin-top: 2rem;
  color: var(--secondary);
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
@media (max-width: 600px) {
  .contact h3{
    text-align: center;
  }
  .first-two {
    flex-direction: column;
    gap: 1rem;
    height: fit-content
  } 
  input {
    padding: 1rem;
  }
}