header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

header h1 {
  color: var(--text-color);
  font-size: 1.7rem;
}
a {
  text-decoration: none;
}
.nav-link {
  font-size: 1.3rem;
    background-image: linear-gradient(
      to right,
      var(--secondary),
      var(--secondary) 50%,
      var(--text-color)50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
.nav-link:before {
    content: '';
    background: var(--secondary);
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }
.nav-link:hover {
    background-position: 0;
   }
.nav-link:hover::before {
    width: 100%;
  }
.links-container {
    display: flex;
    gap: 1rem;
}
.active {
  background-position: 0;

}
.active::before {
  width: 100%;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 100;
}
@media only screen and (max-width: 500px) {
  header h1 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 750px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .hamburger-menu {
      display: block;
  }
  .links-container {
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--primary);
      z-index: 100;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateY(-100%);
      transition: transform .5s ease-in-out;
  }
  .links-container-open {
      transform: translateY(0);
  }
  .nav-link {
    font-size: 2rem;
  }
}